@using OctopusCodesShoppingCartPaypal.Core.Provider
@using OctopusCodesShoppingCartPaypal.Core.Resources
@model OctopusCodesShoppingCartPaypal.Core.Models.Products.ProductDetailViewModel
@{
    ViewBag.Title = "Detail";
    //public const string UserSplitLayOut = "~/Views/Shared/_SplitLayout.cshtml";
    Layout = Constants.UserSplitLayOut;
    //public const string SettingCurrencyUnit = "$";
    var currencyUnit = Constants.SettingCurrencyUnit;
}

<div class="product-details">
    <!--product-details-->
    <div class="col-sm-5">
        <div class="view-product">
            @*Main Image*@
            <img src="@(Model.MainImg)" alt="@Model.MainImg" />
        </div>

        @*Change By William*@
        @*Description : Change html to render carousel. Previously carousel not work*@
        @*<div id="similar-product" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item">
                        @for (int i = 0; i < Model.Imgs.Length; i++)
                        {

                            <a href=""><img src="@( Model.Imgs[i])" alt="@Model.Imgs[i]"></a>
                        }
                    </div>

                </div>

                <!-- Controls -->
                <a class="left item-control" href="#similar-product" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right item-control" href="#similar-product" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>*@
        <div id="similar-product" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @for (int i = 0; i < Model.Imgs.Length; i++)
                {
                    if (i == 0)
                    {
                        <div class="item text-center active">
                            <a href=""><img src="@( Model.Imgs[i])" alt="@Model.Imgs[i]"></a>
                        </div>
                    }
                    else
                    {
                        <div class="item text-center">
                            <a href=""><img src="@( Model.Imgs[i])" alt="@Model.Imgs[i]"></a>
                        </div>
                    }
                }
            </div>
            @*Change By William*@

            <!-- Controls -->
            <a class="left item-control" href="#similar-product" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right item-control" href="#similar-product" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="product-information">
            <!--/product-information-->
            <h2>@Model.ProductName</h2>
            <p>ID: @Model.Id</p>
            @*<img src="images/product-details/rating.png" alt="" />*@
            <span>
                <span>@(currencyUnit + Model.Price)</span>
                <label>@Resource.HeaderQuantity:</label>
                <input type="text" value="@Model.Quantity" id="Quantity" />
                <button type="button" class="btn btn-fefault cart" onclick="addToCart('@Model.Id')">
                    <i class="fa fa-shopping-cart"></i>
                    @Resource.LabelAddToCart
                </button>
            </span>
            <p><b>@Resource.LabelAvailability:</b> @Model.Status</p>
            <p><b>@Resource.HeaderDescription:</b> @Model.Description</p>
        </div><!--/product-information-->
    </div>
</div><!--/product-details-->
@section scripts{
    <script>
        function addToCart(id) {
            cart.addItem(id);
        }
    </script>
}
